<h2>Create new evolution</h2>
<form [formGroup]="form" (ngSubmit)="createEvolution()">
  <div id="fieldsets">
    <fieldset id="fieldset-game">
      <legend>Game</legend>
      <div class="input-group">
        <label for="field-width-input">Field width</label>
        <input id="field-width-input" type="number" [formControl]="fieldWidthControl">
      </div>
      <div class="input-group">
        <label for="field-height-input">Field height</label>
        <input id="field-height-input" type="number" [formControl]="fieldHeightControl">
      </div>
      <div class="input-group">
        <label for="endurance-input">Endurance</label>
        <input id="endurance-input" type="number" [formControl]="enduranceControl">
      </div>
    </fieldset>
    <fieldset id="fieldset-evolution">
      <legend>Evolution</legend>
      <div class="input-group">
        <label for="generation-size-input">Generation size</label>
        <input id="generation-size-input" type="number" [formControl]="generationSizeControl">
      </div>
      <div class="input-group">
        <label for="mutation-probability-input">Mutation probability</label>
        <input id="mutation-probability-input" type="number" [formControl]="mutationProbabilityControl">
      </div>
      <div class="input-group">
        <label for="mutation-rate-input">Mutation rate</label>
        <input id="mutation-rate-input" type="number" [formControl]="mutationRateControl">
      </div>
    </fieldset>
    <fieldset id="fieldset-neural-network">
      <legend>Neural network layers</legend>
      <div id="neural-network-grid">
        <label>Number of neurons</label>
        <label>Activation function</label>
        <ng-container *ngFor="let layer of hiddenLayersControl.controls; index as i">
          <div class="input-group">
            <input size="5" type="number" [formControl]="getNumberOfNeurons(layer)">
          </div>
          <div class="input-group">
            <select [formControl]="getActivationFunction(layer)">
              <option *ngFor="let func of activationFunction | keyvalue" [ngValue]="func.key">{{func.value}}</option>
            </select>
          </div>
          <button type="button" (click)="deleteHiddenLayer(i)">delete</button>
        </ng-container>
        <button id="add-layer-button" type="button" (click)="addHiddenLayer()">add</button>
      </div>
    </fieldset>
  </div>
  <div id="controls">
    <button id="submit-button">Create</button>
  </div>
</form>
