#fieldsets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  label, legend {
    white-space: nowrap;
  }
}

#fieldset-game, #fieldset-evolution {
  flex: 1 0 0;
}

#fieldset-neural-network {
  flex: 2 0 0;
}

.input-group {
  input, select {
    width: 100%;
  }
}

#neural-network-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr)) minmax(70px, max-content);
  gap: 0.5rem 1rem;

  .input-group:first-of-type {
    grid-column-start: 1;
  }
}

#add-layer-button {
  grid-column: 1 / -1;
  justify-self: start;
}

#controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
